body {
    background: white;

}

section {
    box-shadow: 0  0 5px 5px;
    margin: 1rem auto;
    padding: 0.5rem;
    border: 2px solid #323832;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem;
}

h1 {
    font-size: 18px;
}

p {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

#one {
    color: green;
}

#two {
    color: red;
}

#three {
    color: blue;
}
