body {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}

.listing {
    width: 80%;
    margin: 0 auto;
}

.list-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

ol {
    background: rgb(20, 99, 136);
    padding: 20px;
}

ul {
    background: rgb(194, 41, 74);
    padding: 20px;
}

#orlike {
    background: rgb(75, 190, 137);
    /*
    padding: 5px;
    margin-left: 35px;
    */
}

#unlike {
    background: rgb(129, 15, 145);
    color: rgba(219, 233, 221, 0.808);
    /*
    padding: 5px;
    margin-left: 35px;
    */
}

#ordislike {
    color: rgba(219, 233, 221, 0.808);
}


